.Session__welcomeTitle {
  margin-bottom: 12px;
}
.Session__inflation__next {
  display: flex;
  align-items: baseline;
  margin-top: 24px;
  justify-content: flex-end;
}
.Session__inflation__next__noThanks {
  font-size: 14px;
  margin-right: 24px;
  line-height: 1;
  text-decoration: none;
  position: relative;
}
.Session__inflation__next__noThanks:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.Session__tos__next {
  display: flex;
  align-items: baseline;
  margin-top: 24px;
}

.Session__AccountView__content {
  padding: 16px 18px;
  border-bottom: 1px solid #ddd;
}

.Sesssion__yourId__title {
  margin-bottom: 0;
}

.Sesssion__yourId__accountId {
  margin-bottom: 0;
  font-size: $s-scale-1;
}

.Session__Account__text {
  padding: 0px 20px;
}

.Session__federations__block {
  border-top: 1px solid #ddd;
  position: relative;
  width: 980px;
  left: calc(-18px);
  padding: 20px 16px;
  padding-bottom: 0px;
}

.Session__federations__alert {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

.Session__federations__button {
  padding: 0.3333em 2em 0.3333em 2em;
  border-radius: 2px;
  font-weight: normal;
}

.federation-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.federation-warning {
  vertical-align: middle;
  display: inline-block;
}

.federations-warning-text {
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  color: #e33c4c;
  font-weight: normal;
}
